.footer-layout {
  margin: 0;
  padding: 0;
}

.custom-footer {
  background: #95cacc;
  padding: 20px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  margin-top: -30px;
  max-height: 100px;
  height: auto;
  width: auto;
}

.site-title {
  font-weight: bold;
  color: #262626;
  font-size: 18px;
}

.color-button {
  color: #262626;
  border: none;
  border-bottom: 2px solid #262626;
  border-radius: 0;
  padding-bottom: 2px;
}

.color-button:hover {
  background-color: #d8d7d7;
}

.button-login-register {
  color: rgb(0, 0, 0);
  background-color: #82a8b9;
  border-color: #82a8b9;
}

.button-login-register:hover {
  background-color: #d8d7d7;
}
