<nz-layout class="footer-layout">
  <nz-footer class="custom-footer">
    <div class="footer-content">
      <div class="footer-left">
        <a routerLink="/inicio" class="logo-link">
          <img src="assets/logoIOL.png" alt="Logo" class="logo" />
          <span class="site-title">Index Of Life</span>
        </a>
        <button
          nz-button
          nzType="link"
          class="color-button"
          (click)="onClickTotais()"
        >
          Totais
        </button>
        <button
          nz-button
          nzType="link"
          class="color-button"
          (click)="onClickCadastros()"
        >
          Cadastros
        </button>
        <button
          nz-button
          nzType="link"
          class="color-button"
          (click)="onClickHistorico()"
        >
          Consulta de Gastos
        </button>

        <button
          nz-button
          nzType="link"
          class="color-button"
          (click)="onClickExcluir()"
        >
          Exclusão de Cadastros
        </button>
      </div>

      <div class="footer-right">
        <button
          class="button-login-register"
          *ngIf="!estaLogado"
          nz-button
          nzType="primary"
          (click)="onClickLogin()"
        >
          Login
        </button>
        <button
          class="button-login-register"
          *ngIf="estaLogado"
          nz-button
          nzType="primary"
          (click)="logout()"
        >
          Sair
        </button>
        <button
          class="button-login-register"
          *ngIf="!estaLogado"
          nz-button
          nzType="primary"
          (click)="onClickRegister()"
        >
          Register
        </button>
      </div>
    </div>
  </nz-footer>
</nz-layout>
