<form>
  <nz-row>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Categoria</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="categoriaSelecionada"
            name="categoriaSelecionada"
            (nzOpenChange)="carregarCategorias()"
          >
            <nz-option
              *ngFor="let cat of categoriasLista"
              [nzValue]="cat.CodCat"
              [nzLabel]="cat.DesCat"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Item</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="itemSelecionado"
            name="itemSelecionado"
            (nzOpenChange)="carregarItens()"
          >
            <nz-option
              *ngFor="let item of itensLista"
              [nzValue]="item.CodIte"
              [nzLabel]="item.DesIte"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row>
    <nz-col [nzSpan]="6">
      <label>Mês do lançamento</label>
      <nz-select formControlName="mesConsulta" nzPlaceHolder="Selecione o mês">
        <nz-option nzValue="1" nzLabel="Janeiro"></nz-option>
        <nz-option nzValue="2" nzLabel="Fevereiro"></nz-option>
        <nz-option nzValue="3" nzLabel="Março"></nz-option>
        <nz-option nzValue="4" nzLabel="Abril"></nz-option>
        <nz-option nzValue="5" nzLabel="Maio"></nz-option>
        <nz-option nzValue="6" nzLabel="Junho"></nz-option>
        <nz-option nzValue="7" nzLabel="Julho"></nz-option>
        <nz-option nzValue="8" nzLabel="Agosto"></nz-option>
        <nz-option nzValue="9" nzLabel="Setembro"></nz-option>
        <nz-option nzValue="10" nzLabel="Outubro"></nz-option>
        <nz-option nzValue="11" nzLabel="Novembro"></nz-option>
        <nz-option nzValue="12" nzLabel="Dezembro"></nz-option>
      </nz-select>
    </nz-col>

    <nz-col *ngIf="gastosLista.length > 0" [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Lançamentos</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="gastoSelecionado" name="gastoSelecionado">
            <nz-option
              *ngFor="let g of gastosLista"
              [nzValue]="g.CodGas"
              [nzLabel]="
                'ID: ' +
                g.CodGas +
                ' - Item: ' +
                g.DesIte +
                ' - Cat: ' +
                g.DesCat
              "
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
