<nz-card nzTitle="Cadastros">
  <nz-radio-group [(ngModel)]="opcaoSelecionada">
    <label nz-radio-button nzValue="categoria">Categoria</label>
    <label nz-radio-button nzValue="item">Item</label>
    <label nz-radio-button nzValue="gasto">Gasto</label>
  </nz-radio-group>

  <form>
    <!-- Cadastro de Categoria -->
    <div *ngIf="opcaoSelecionada === 'categoria'" style="margin-top: 20px">
      <nz-form-item>
        <nz-form-label>Descrição da Categoria</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="novaCategoria.DesCat"
            name="categoria"
            required
          />
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        nzType="primary"
        [disabled]="!novaCategoria.DesCat"
        (click)="salvarCategoria()"
      >
        Salvar Categoria
      </button>
    </div>

    <!-- Cadastro de Item -->
    <div *ngIf="opcaoSelecionada === 'item'" style="margin-top: 20px">
      <nz-form-item>
        <nz-form-label>Descrição do Item</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="novoItem.DesIte"
            name="descricaoItem"
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Categoria</nz-form-label>
        <nz-form-control>
          <nz-select
            (nzOpenChange)="carregarCategorias()"
            [(ngModel)]="novoItem.CodCat"
            name="categoriaItem"
            required
          >
            <nz-option
              *ngFor="let cat of categorias"
              [nzValue]="cat.CodCat"
              [nzLabel]="cat.DesCat"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        nzType="primary"
        [disabled]="!novoItem.DesIte || !novoItem.CodCat"
        (click)="salvarItens()"
      >
        Salvar Item
      </button>
    </div>

    <!-- Cadastro de Gasto -->
    <div *ngIf="opcaoSelecionada === 'gasto'" style="margin-top: 20px">
      <nz-form-item>
        <nz-form-label>Categoria</nz-form-label>
        <nz-form-control>
          <nz-select
            (nzOpenChange)="carregarCategorias()"
            [(ngModel)]="novoGasto.CodCat"
            name="categoriaGasto"
            required
          >
            <nz-option
              *ngFor="let cat of categorias"
              [nzValue]="cat.CodCat"
              [nzLabel]="cat.DesCat"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Item</nz-form-label>
        <nz-form-control>
          <nz-select
            (nzOpenChange)="carregarItens()"
            [(ngModel)]="novoGasto.CodIte"
            name="itemGasto"
            required
          >
            <nz-option
              *ngFor="let item of itens"
              [nzValue]="item.CodIte"
              [nzLabel]="item.DesIte"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Data do Gasto</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="date"
            [(ngModel)]="novoGasto.DatGas"
            name="dataGasto"
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Valor do Gasto (R$)</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="number"
            step="0.01"
            [(ngModel)]="novoGasto.ValGas"
            name="valorGasto"
            required
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Mês</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="novoGasto.CodMes" name="mesGasto" required>
            <nz-option nzValue="1" nzLabel="Janeiro"></nz-option>
            <nz-option nzValue="2" nzLabel="Fevereiro"></nz-option>
            <nz-option nzValue="3" nzLabel="Março"></nz-option>
            <nz-option nzValue="4" nzLabel="Abril"></nz-option>
            <nz-option nzValue="5" nzLabel="Maio"></nz-option>
            <nz-option nzValue="6" nzLabel="Junho"></nz-option>
            <nz-option nzValue="7" nzLabel="Julho"></nz-option>
            <nz-option nzValue="8" nzLabel="Agosto"></nz-option>
            <nz-option nzValue="9" nzLabel="Setembro"></nz-option>
            <nz-option nzValue="10" nzLabel="Outubro"></nz-option>
            <nz-option nzValue="11" nzLabel="Novembro"></nz-option>
            <nz-option nzValue="12" nzLabel="Dezembro"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        nzType="primary"
        [disabled]="
          !this.novoGasto.CodCat ||
          !this.novoGasto.CodIte ||
          !this.novoGasto.DatGas ||
          !this.novoGasto.ValGas ||
          !this.novoGasto.CodMes
        "
      >
        Salvar Gasto
      </button>
    </div>
  </form>
</nz-card>
